{:path ["src"]
 :deps {ring/ring-core {:mvn/version "1.13.0"}
        ring/ring-jetty-adapter {:mvn/version "1.13.0"}
        ring/ring-devel {:mvn/version "1.9.6"}
        org.clojure/java.jdbc {:mvn/version "0.7.12"}
        org.postgresql/postgresql {:mvn/version "42.6.0"}
        metosin/reitit-ring {:mvn/version "0.5.5"}}
 :aliases {:server {:main-opts ["-m" "clojure-hospital.core"]}
           :test-server {:main-opts ["-m" "clojure-hospital.test.core"]}
           :build {:deps {:io.github.clojure/tools.build {:git/tag "v0.9.4"
                                                          :git/sha "76b78fe"}}
                   :ns-default build}}}

;; clj -M -m clojure-hospital.main



